# === Виртуальное окружение ===
venv/
env/
.venv/
virtualenv/
.gigaide
.idea
*.iml

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# === Логи и базы ===
*.sqlite3
*.db
*.properties

# Логи (директория создается динамически)
data/logs

# Плейлисты (директория создается динамически)
uploads
# === Переменные окружения ===
.env
.env.local
.env.development
.env.production

# === Системные файлы ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# === Редакторы и IDE ===
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# === Хранилище плейлистов (динамическое) ===
storage/playlists/*
!.gitkeep

